header {
	grid-area: header;
	background-color: teal;
	text-align: center;
	vertical-align: middle;
}

nav {
	grid-area: nav;
	background-color: tomato;
}

main {
	grid-area: main;
	background-color: lightblue;
	max-width: 100%;
	padding: 2em;
}

footer {
	grid-area: footer;
	background-color: lightgreen;
	text-align: center;
	vertical-align: middle;
}

body {
	background-image: url('../images/background.jpg');
	background-size: cover;
}

label {
	font-size: larger;
	font-family: Arial;
}

commandButton {
	height: 40px;
	width: 100px;
}

inputText {
	width: auto;
}

section {
	display: inline-grid;
	grid-template-columns: auto 1000px auto;
	text-align: center;
	vertical-align: middle;
}

td {
	max-width: 50px;
}

table, tbody, tr, td {
	padding: 0;
	margin: auto;
	text-align: center;
}

table {
	text-align: center;
}

tbody {
	text-align: center;
}

tr {
	text-align: center;
}

h3 {
	font-size: larger;
	font-family: Arial;
	text-transform: uppercase;
}

dataTable {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.statistic {
	background-color: white;
	font-size: large;
	margin: 2em;
	padding: 20px 40px;
	border-radius: 0.5rem;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.nav-link {
	display: block;
	padding: 2rem;
	text-decoration: none;
	text-align: center;
	font-size: large;
	font-family: Arial;
	text-transform: uppercase;
}

.nav-link:hover, .nav-link:focus {
	text-decoration: none;
	background-color: yellow;
}

.container {
	display: grid;
	grid-template-rows: 1fr 5fr 1fr;
	grid-template-columns: 2fr 5fr 5fr;
	grid-template-areas: "header header header" "nav main main"
		"footer footer footer";
	grid-gap: .0em;
}

.tabView {
	margin: 2em auto;
	max-width: 50em;
}

.btn {
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem !important;
	border-radius: 0.5rem;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	margin: 0.3em;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.row {
	width: 100%;
	padding: 0.6em;
}

.header-title {
	color: white;
	font-size: 3em;
	font-family: Arial;
	text-shadow: 1px 2px 2px #CE5937;
	text-align: center;
	vertical-align: middle;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.balance {
	font-size: larger;
	font-family: Arial;
}

.grid-container {
	display: grid;
	grid-template-columns: auto 100px;
	background-color: #2196F3;
	padding: 0;
	margin: 0;
	text-align: center;
}

.grid-item {
	text-align: center;
}

.gameButton {
	width: 100%;
	height: 100%;
	border: 1px solid #DCDCDC;
	padding: 0px;
	border-radius: 0px;
	font-size: medium;
	background: #006400;
	color: white;
}

.gameButton:hover {
	color: #ADD8E6;
}

.redGameButton {
	background: red;
}

.blackGameButton {
	background: black;
}

.gamePanel {
	width: 100%;
	text-align: center;
}

.gameTable {
	width: 800px;
	height: 300px;
	background-color: #006400;
	text-align: center;
}